{
  "configurations": [
    {
      "name": "x64_Debug",
      "generator": "Visual Studio 15 2017 Win64",
      "configurationType": "Debug",
      "buildRoot": "${workspaceRoot}\\build-vc\\${name}",
      "cmakeCommandArgs": "",
      "variables": [
        {
          "name": "Eigen3_DIR",
          "value": "C:\\Programmieren\\Cpp\\Eigen\\Eigen3_3_4\\share\\eigen3\\cmake"
        },
        {
          "name": "BOOST_ROOT",
          "value": "C:\\Programmieren\\Cpp\\boost\\boost_1_63_0"
        },
        {
          "name": "XGANDALF_BUILD_EXECUTABLE",
          "value": "ON"
        }
      ]
    },
    {
      "name": "x64_RelWithDebInfo",
      "generator": "Visual Studio 15 2017 Win64",
      "configurationType": "RelWithDebInfo",
      "buildRoot": "${workspaceRoot}\\build-vc\\${name}",
      "cmakeCommandArgs": "",
      "variables": [
        {
          "name": "Eigen3_DIR",
          "value": "C:\\Programmieren\\Cpp\\Eigen\\Eigen3_3_4\\share\\eigen3\\cmake"
        },
        {
          "name": "BOOST_ROOT",
          "value": "C:\\Programmieren\\Cpp\\boost\\boost_1_63_0"
        },
        {
          "name": "XGANDALF_BUILD_EXECUTABLE",
          "value": "ON"
        }
      ]
    },
    {
      "name": "x64_Release",
      "generator": "Visual Studio 15 2017 Win64",
      "configurationType": "Release",
      "buildRoot": "${workspaceRoot}\\build-vc\\${name}",
      "cmakeCommandArgs": "",
      "variables": [
        {
          "name": "Eigen3_DIR",
          "value": "C:\\Programmieren\\Cpp\\Eigen\\Eigen3_3_4\\share\\eigen3\\cmake"
        },
        {
          "name": "BOOST_ROOT",
          "value": "C:\\Programmieren\\Cpp\\boost\\boost_1_63_0"
        },
        {
          "name": "XGANDALF_BUILD_EXECUTABLE",
          "value": "ON"
        }
      ]
    },
 ]
}